[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"
django-jet-reboot = "*"
google-api-python-client = "==1.4.1"
django-allauth = "*"
razorpay = "*"

[dev-packages]

[requires]
python_version = "3.11"
